In [21]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [22]:
df = pd.read_csv('datasets/properties.csv')

In [23]:
df.head(2)

,ID,Possession Status,Availability Starts From,Floor No,Commercial,Developer,Approved Authority Name,Units Available,Price,Price (English),...,Rentable CommuniPfty Space,Retail Boulevard (Retail Shops),Cycling & Jogging Track,Fire Fighting Equipment,Aesthetically designed landscape garden,Possession By,NRI Pref,Land Area / Covered Area,Land Area Unit,Pantry Type
0,12685,Under Construction,Dec '25,5,N,NaN,KDMC,1.0,3150000.0,31.5 Lac,...,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
1,12684,Ready to Move,NaN,20,Y,TATA Housing Development Company Ltd.,TMC,10.0,6300000.0,63 Lac,...,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN

In [24]:
df.shape, df.drop_duplicates().shape

((12685, 145), (12685, 145))

In [25]:
df.isnull().sum()

ID                              0
Possession Status              78
Availability Starts From     9602
Floor No                      858
Commercial                      0
                            ...
Possession By               12449
NRI Pref                    10668
Land Area / Covered Area    12601
Land Area Unit              12599
Pantry Type                 12620
Length: 145, dtype: int64

In [26]:
df['Developer'] = df['Developer'].fillna('Local')

In [27]:
df['Units Available'] = df['Units Available'].fillna(1)
pct_null = df.isnull().sum() / len(df)
missing_features = pct_null[pct_null >= 0.2].index # dropping columns with >= 20%
df.drop(missing_features, axis=1, inplace=True)

In [28]:
df['Possession Status'].value_counts().to_frame().reset_index()

     Possession Status  count
0        Ready to Move   9735
1   Under Construction   2630
2              Dec '26     50
3              Dec '24     31
4              Dec '23     29
5              Dec '25     28
6              Jun '24     21
7              Dec '27     16
8              Jun '26     16
9              Dec '28     12
10             Mar '25      6
11             Mar '24      5
12             Apr '28      4
13             Sep '26      4
14         Immediately      4
15             Nov '25      3
16             Apr '24      3
17             Jun '25      3
18             Sep '23      3
19             Nov '23      2
20         Select Date      2

In [29]:
df.columns[:40], df.columns[40:80], df.columns[80:]

(Index(['ID', 'Possession Status', 'Floor No', 'Commercial', 'Developer',
        'Units Available', 'Price', 'Price (English)', 'Covered Area',
        'sqft Price ', 'Area Name', 'Unit of Carpet Area', 'Society',
        'furnished Type', 'Bathroom', 'Transaction Type', 'Floor Data',
        'Type of Property', 'City', 'bedroom', 'Data Referred From', 'floors',
        'Luxury Flat', 'Covered Area.1', 'isPrimeLocationProperty',
        'Tenants Preference', 'Location', 'Property', 'covArea Unit',
        'isLuxuryServiceProvided', 'Power Back Up', 'Lift',
        'Rain Water Harvesting', 'Club House', 'Swimming Pool', 'Gymnasium',
        'Park', 'Parking.1', 'Security', 'Water Storage'],
       dtype='object'),
 Index(['Private Terrace/Garden', 'Vaastu Compliant', 'Service/Goods Lift',
        'Air Conditioned', 'Visitor Parking', 'Intercom Facility',
        'Maintenance Staff', 'Waste Disposal', 'Laundry Service',
        'Internet/Wi-Fi Connectivity', 'DTH Television Facility',
        'RO Water System', 'Banquet Hall', 'Bar/Lounge', 'Cafeteria/Food Court',
        'Conference Room', 'Piped Gas', 'Jogging and Strolling Track',
        'Outdoor Tennis Courts', 'Mansion', 'Downtown', 'Skyline View',
        'Wrap Around Balcony', 'Island Kitchen Layout', 'Full Glass Wall',
        'House help accommodation', 'Concierge Services', 'Garden View',
        'Marble flooring', 'Well Furnished', 'Modular Kitchen', 'Helipad',
        'Private pool ', 'Private Jaccuzi', 'Mini Cinema Theatre',
        'Golf Course', 'Infinity Swimming Pool',
        'Pool with temperature control ', 'Sea facing', 'Skydeck'],
       dtype='object'),
 Index(['Earth quake resistant', 'Theme based Architectures',
        'Health club with Steam / Jaccuzi', 'Large Clubhouse ',
        'Large Open space', 'Fingerprint Access', 'Grand Entrance lobby',
        'Private Garage', 'Fireplace', 'Wine Cellar', 'Sky Villa',
        'Water Front', 'Hilltop', 'Smart Home', 'Barbeque space',
        'Kids play area', 'Library', 'Puja Room', 'Study', 'Servant Room',
        'Store', 'Aerobics Room', 'Canopy Walk', 'Coffee Lounge & Restaurants',
        'Dance Studio', 'Event Space & Amphitheatre', 'Flower Gardens',
        'Guest Accommodation', 'Indoor Squash & Badminton Courts',
        'Kids Play Area', 'Kids Play Pool With Water Slides',
        'Library And Business Centre', 'Meditation Area', 'Multipurpose Courts',
        'Recreational Pool', 'Rentable CommuniPfty Space',
        'Retail Boulevard (Retail Shops)', 'Cycling & Jogging Track',
        'Fire Fighting Equipment', 'Aesthetically designed landscape garden'],
       dtype='object'))

In [30]:
df = df[df['City'].isin(['Mumbai', 'Thane'])]
df.reset_index(drop=True, inplace=True)
df.drop('City', axis=1, inplace=True)

In [31]:
df.rename(columns={'Property':'Property BHK Type', 'Parking.1':'Parking', 'sqft Price ':'Price per square feet', 'isPrimeLocationProperty':'Prime location'}, inplace=True)

In [32]:
df = df[df['Possession Status'].isin(['Ready to Move', 'Under Construction'])]
df.reset_index(drop=True, inplace=True)

In [33]:
df.shape

(12335, 119)

In [34]:
df['Area Name'].value_counts()[:20], df['Location'].value_counts()[:20]

(Area Name
 Dombivli East     653
 Andheri West      479
 Malad East        466
 Thane West        427
 Andheri East      425
 Kandivali West    356
 Kolshet Road      320
 Majiwada          310
 Goregaon East     278
 Mira Road East    278
 Kandivali East    276
 Virar West        241
 Manpada           230
 Prabhadevi        212
 Kalyan West       202
 Balkum village    188
 Dahisar East      185
 Santacruz West    185
 Naigaon East      176
 Dadar West        160
 Name: count, dtype: int64,
 Location
 Dombivli East, Thane      641
 Andheri West, Mumbai      467
 Malad East, Mumbai        454
 Thane West, Thane         417
 Andheri East, Mumbai      410
 Kandivali West, Mumbai    345
 Kolshet Road, Thane       318
 Majiwada, Thane           310
 Mira Road East, Mumbai    278
 Goregaon East, Mumbai     276
 Kandivali East, Mumbai    273
 Virar West, Mumbai        237
 Manpada, Thane            220
 Prabhadevi, Mumbai        211
 Kalyan West, Thane        199
 Balkum village, Thane     188
 Santacruz West, Mumbai    185
 Dahisar East, Mumbai      182
 Naigaon East, Mumbai      169
 Dadar West, Mumbai        158
 Name: count, dtype: int64)

In [35]:
df.drop(['Data Referred From', 'Covered Area.1', 'covArea Unit', 'isLuxuryServiceProvided', 'Location', 'Commercial', 'Floor No', 'floors'], axis=1, inplace=True)

In [36]:
df.columns[:40], df.columns[40:80], df.columns[80:]

(Index(['ID', 'Possession Status', 'Floor No', 'Developer', 'Units Available',
        'Price', 'Price (English)', 'Covered Area', 'Price per square feet',
        'Area Name', 'Unit of Carpet Area', 'Society', 'furnished Type',
        'Bathroom', 'Transaction Type', 'Floor Data', 'Type of Property',
        'bedroom', 'floors', 'Luxury Flat', 'Prime location',
        'Tenants Preference', 'Property BHK Type', 'Power Back Up', 'Lift',
        'Rain Water Harvesting', 'Club House', 'Swimming Pool', 'Gymnasium',
        'Park', 'Parking', 'Security', 'Water Storage',
        'Private Terrace/Garden', 'Vaastu Compliant', 'Service/Goods Lift',
        'Air Conditioned', 'Visitor Parking', 'Intercom Facility',
        'Maintenance Staff'],
       dtype='object'),
 Index(['Waste Disposal', 'Laundry Service', 'Internet/Wi-Fi Connectivity',
        'DTH Television Facility', 'RO Water System', 'Banquet Hall',
        'Bar/Lounge', 'Cafeteria/Food Court', 'Conference Room', 'Piped Gas',
        'Jogging and Strolling Track', 'Outdoor Tennis Courts', 'Mansion',
        'Downtown', 'Skyline View', 'Wrap Around Balcony',
        'Island Kitchen Layout', 'Full Glass Wall', 'House help accommodation',
        'Concierge Services', 'Garden View', 'Marble flooring',
        'Well Furnished', 'Modular Kitchen', 'Helipad', 'Private pool ',
        'Private Jaccuzi', 'Mini Cinema Theatre', 'Golf Course',
        'Infinity Swimming Pool', 'Pool with temperature control ',
        'Sea facing', 'Skydeck', 'Earth quake resistant',
        'Theme based Architectures', 'Health club with Steam / Jaccuzi',
        'Large Clubhouse ', 'Large Open space', 'Fingerprint Access',
        'Grand Entrance lobby'],
       dtype='object'),
 Index(['Private Garage', 'Fireplace', 'Wine Cellar', 'Sky Villa',
        'Water Front', 'Hilltop', 'Smart Home', 'Barbeque space',
        'Kids play area', 'Library', 'Puja Room', 'Study', 'Servant Room',
        'Store', 'Aerobics Room', 'Canopy Walk', 'Coffee Lounge & Restaurants',
        'Dance Studio', 'Event Space & Amphitheatre', 'Flower Gardens',
        'Guest Accommodation', 'Indoor Squash & Badminton Courts',
        'Kids Play Area', 'Kids Play Pool With Water Slides',
        'Library And Business Centre', 'Meditation Area', 'Multipurpose Courts',
        'Recreational Pool', 'Rentable CommuniPfty Space',
        'Retail Boulevard (Retail Shops)', 'Cycling & Jogging Track',
        'Fire Fighting Equipment', 'Aesthetically designed landscape garden'],
       dtype='object'))

In [38]:
df.shape

(12335, 113)

In [39]:
for i in df.columns:
    df[i] = df[i].fillna(df[i].mode()[0])

In [40]:
for i in ['Society', 'furnished Type',
        'Bathroom', 'Transaction Type', 'Floor Data', 'Type of Property',
        'bedroom', 'Luxury Flat', 'Prime location',
        'Tenants Preference', 'Property BHK Type', 'Power Back Up', 'Lift',
        'Rain Water Harvesting', 'Club House', 'Swimming Pool', 'Gymnasium',
        'Park', 'Parking', 'Security', 'Water Storage',
        'Private Terrace/Garden', 'Vaastu Compliant', 'Service/Goods Lift',
        'Air Conditioned', 'Visitor Parking', 'Intercom Facility',
        'Maintenance Staff', 'Waste Disposal', 'Laundry Service', 'Internet/Wi-Fi Connectivity',
        'DTH Television Facility', 'RO Water System', 'Banquet Hall',
        'Bar/Lounge', 'Cafeteria/Food Court', 'Conference Room', 'Piped Gas',
        'Jogging and Strolling Track', 'Outdoor Tennis Courts', 'Mansion',
        'Downtown', 'Skyline View', 'Wrap Around Balcony',
        'Island Kitchen Layout', 'Full Glass Wall', 'House help accommodation',
        'Concierge Services', 'Garden View', 'Marble flooring',
        'Well Furnished', 'Modular Kitchen', 'Helipad', 'Private pool ',
        'Private Jaccuzi', 'Mini Cinema Theatre', 'Golf Course',
        'Infinity Swimming Pool', 'Pool with temperature control ',
        'Sea facing', 'Skydeck', 'Earth quake resistant',
        'Theme based Architectures', 'Health club with Steam / Jaccuzi',
        'Large Clubhouse ', 'Large Open space', 'Fingerprint Access',
        'Grand Entrance lobby', 'Private Garage', 'Fireplace', 'Wine Cellar', 'Sky Villa',
        'Water Front', 'Hilltop', 'Smart Home', 'Barbeque space',
        'Kids play area', 'Library', 'Puja Room', 'Study', 'Servant Room',
        'Store', 'Aerobics Room', 'Canopy Walk', 'Coffee Lounge & Restaurants',
        'Dance Studio', 'Event Space & Amphitheatre', 'Flower Gardens',
        'Guest Accommodation', 'Indoor Squash & Badminton Courts',
        'Kids Play Area', 'Kids Play Pool With Water Slides',
        'Library And Business Centre', 'Meditation Area', 'Multipurpose Courts',
        'Recreational Pool', 'Rentable CommuniPfty Space',
        'Retail Boulevard (Retail Shops)', 'Cycling & Jogging Track',
        'Fire Fighting Equipment', 'Aesthetically designed landscape garden']:
    if(df[i].dtype != 'object'):
        df[i] = np.where(df[i] == 1, i + ', ', '')
    else:
        df[i] = np.where(df[i] == 'Y', i + ', ', df[i])
        df[i] = np.where(df[i] == 'N', '', df[i])

cols = ['Society', 'furnished Type',
        'Bathroom', 'Transaction Type', 'Floor Data', 'Type of Property',
        'bedroom', 'Luxury Flat', 'Prime location',
        'Tenants Preference', 'Property BHK Type', 'Power Back Up', 'Lift',
        'Rain Water Harvesting', 'Club House', 'Swimming Pool', 'Gymnasium',
        'Park', 'Parking', 'Security', 'Water Storage',
        'Private Terrace/Garden', 'Vaastu Compliant', 'Service/Goods Lift',
        'Air Conditioned', 'Visitor Parking', 'Intercom Facility',
        'Maintenance Staff', 'Waste Disposal', 'Laundry Service', 'Internet/Wi-Fi Connectivity',
        'DTH Television Facility', 'RO Water System', 'Banquet Hall',
        'Bar/Lounge', 'Cafeteria/Food Court', 'Conference Room', 'Piped Gas',
        'Jogging and Strolling Track', 'Outdoor Tennis Courts', 'Mansion',
        'Downtown', 'Skyline View', 'Wrap Around Balcony',
        'Island Kitchen Layout', 'Full Glass Wall', 'House help accommodation',
        'Concierge Services', 'Garden View', 'Marble flooring',
        'Well Furnished', 'Modular Kitchen', 'Helipad', 'Private pool ',
        'Private Jaccuzi', 'Mini Cinema Theatre', 'Golf Course',
        'Infinity Swimming Pool', 'Pool with temperature control ',
        'Sea facing', 'Skydeck', 'Earth quake resistant',
        'Theme based Architectures', 'Health club with Steam / Jaccuzi',
        'Large Clubhouse ', 'Large Open space', 'Fingerprint Access',
        'Grand Entrance lobby', 'Private Garage', 'Fireplace', 'Wine Cellar', 'Sky Villa',
        'Water Front', 'Hilltop', 'Smart Home', 'Barbeque space',
        'Kids play area', 'Library', 'Puja Room', 'Study', 'Servant Room',
        'Store', 'Aerobics Room', 'Canopy Walk', 'Coffee Lounge & Restaurants',
        'Dance Studio', 'Event Space & Amphitheatre', 'Flower Gardens',
        'Guest Accommodation', 'Indoor Squash & Badminton Courts',
        'Kids Play Area', 'Kids Play Pool With Water Slides',
        'Library And Business Centre', 'Meditation Area', 'Multipurpose Courts',
        'Recreational Pool', 'Rentable CommuniPfty Space',
        'Retail Boulevard (Retail Shops)', 'Cycling & Jogging Track',
        'Fire Fighting Equipment', 'Aesthetically designed landscape garden']

df['Description/Amenities'] = df[cols].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)
df.drop(cols, axis=1, inplace=True)

In [41]:
df.head(1)

,ID,Possession Status,Floor No,Developer,Units Available,Price,Price (English),Covered Area,Price per square feet,Area Name,Unit of Carpet Area,Description/Amenities
0,12685,Under Construction,5,Local,1.0,3150000.0,31.5 Lac,635.0,4960.0,Kalyan West,Sq-ft,"Society, Unfurnished New Property 5 of 14 Fl..."

In [43]:
df_mira_road = df[df['Area Name'].str.lower().str.contains('mira road')]

# Filter the dataframe for properties with swimming pool
df_with_swimming_pool = df_mira_road[df_mira_road['Description/Amenities'].str.lower().str.contains('swimming pool')]

# Filter the dataframe for properties within 1 crore
df_within_1_crore = df_with_swimming_pool[df_with_swimming_pool['Price'] <= 10000000]

# Sort the dataframe by Price in descending order
df_sorted = df_within_1_crore.sort_values(by=['Price'], ascending=False)

# Keep only the top 5 rows
df_top_5 = df_sorted.head(5)

# Keep only the columns [ID, Area Name, Developer, Description/Amenities, Price]
df_top_5 = df_top_5[['ID', 'Area Name', 'Developer', 'Description/Amenities', 'Price']]

In [44]:
df_top_5

,ID,Area Name,Developer,Description/Amenities,Price
8367,4055,Mira Road East,Local,Semi-Furnished New Property 20 of 30 Floor A...,10000000.0
7201,5253,Mira Road East,Local,Semi-Furnished New Property 20 of 30 Floor A...,10000000.0
7215,5239,Mira Road East,Raj Realty Group,"Society, Semi-Furnished New Property 2 of 33...",9900000.0
8381,4041,Mira Road East,Raj Realty Group,"Society, Semi-Furnished New Property 2 of 33...",9900000.0
7083,5371,Mira Road East,Walchand Group,"Society, Unfurnished New Property 5 of 27 Fl...",9845000.0

In [42]:
# df.to_csv('D:/Downloads/props cleaned.csv', index=False)

In [45]:
# df_location_property_count = df.groupby(['Area Name'])['Units Available'].sum().to_frame().reset_index()
# df_location_property_count = df_location_property_count[:10]

# import numpy as np

# for i in df.columns:
#     if (df[i].nunique() == 2):
#         if(df[i].min() == 0) & (df[i].max() == 1):
#             df[i] = np.where(df[i] == 0, 'No', 'Yes')

# df.rename(columns={'Price (English)':'Value'}, inplace=True)

# df.to_csv('D:/Downloads/prop.csv', index=False)

# df.dtypes

# df_filtered = df[(df['Area Name'] == 'Kalyan West') & (df['Swimming Pool'] == 'Yes') & (df['Price'] <= 5000000)]

# df['Swimming Pool'].nunique()

# df_sorted = df_filtered.sort_values(by='Price', ascending=True)

# # Get the best property (i.e., the property with the lowest price) from the sorted dataframe
# best_property = df_sorted.iloc[0]

# # Print the details of the best property
# print("The best property with swimming pool within 50 lakhs in Kalywan West is:")
# print(best_property)