In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('datasets/properties.csv')

In [3]:
df.head(2)

,ID,Possession Status,Availability Starts From,Floor No,Commercial,Developer,Approved Authority Name,Units Available,Price,Price (English),...,Rentable CommuniPfty Space,Retail Boulevard (Retail Shops),Cycling & Jogging Track,Fire Fighting Equipment,Aesthetically designed landscape garden,Possession By,NRI Pref,Land Area / Covered Area,Land Area Unit,Pantry Type
0,12685,Under Construction,Dec '25,5,N,NaN,KDMC,1.0,3150000.0,31.5 Lac,...,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
1,12684,Ready to Move,NaN,20,Y,TATA Housing Development Company Ltd.,TMC,10.0,6300000.0,63 Lac,...,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape, df.drop_duplicates().shape

((12685, 145), (12685, 145))

In [5]:
df.isnull().sum()

ID                              0
Possession Status              78
Availability Starts From     9602
Floor No                      858
Commercial                      0
                            ...
Possession By               12449
NRI Pref                    10668
Land Area / Covered Area    12601
Land Area Unit              12599
Pantry Type                 12620
Length: 145, dtype: int64

In [6]:
df['Units Available'] = df['Units Available'].fillna(1)
pct_null = df.isnull().sum() / len(df)
missing_features = pct_null[pct_null >= 0.2].index # dropping columns with >= 20%
df.drop(missing_features, axis=1, inplace=True)

In [14]:
df['Possession Status'].value_counts().to_frame().reset_index()

    Possession Status  count
0       Ready to Move   9735
1  Under Construction   2630

In [7]:
df.columns[:40], df.columns[40:80], df.columns[80:]

(Index(['ID', 'Possession Status', 'Floor No', 'Commercial', 'Units Available',
        'Price', 'Price (English)', 'Covered Area', 'sqft Price ', 'Area Name',
        'Unit of Carpet Area', 'Society', 'furnished Type', 'Bathroom',
        'Transaction Type', 'Floor Data', 'Type of Property', 'City', 'bedroom',
        'Data Referred From', 'floors', 'Luxury Flat', 'Covered Area.1',
        'isPrimeLocationProperty', 'Tenants Preference', 'Location', 'Property',
        'covArea Unit', 'isLuxuryServiceProvided', 'Power Back Up', 'Lift',
        'Rain Water Harvesting', 'Club House', 'Swimming Pool', 'Gymnasium',
        'Park', 'Parking.1', 'Security', 'Water Storage',
        'Private Terrace/Garden'],
       dtype='object'),
 Index(['Vaastu Compliant', 'Service/Goods Lift', 'Air Conditioned',
        'Visitor Parking', 'Intercom Facility', 'Maintenance Staff',
        'Waste Disposal', 'Laundry Service', 'Internet/Wi-Fi Connectivity',
        'DTH Television Facility', 'RO Water System', 'Banquet Hall',
        'Bar/Lounge', 'Cafeteria/Food Court', 'Conference Room', 'Piped Gas',
        'Jogging and Strolling Track', 'Outdoor Tennis Courts', 'Mansion',
        'Downtown', 'Skyline View', 'Wrap Around Balcony',
        'Island Kitchen Layout', 'Full Glass Wall', 'House help accommodation',
        'Concierge Services', 'Garden View', 'Marble flooring',
        'Well Furnished', 'Modular Kitchen', 'Helipad', 'Private pool ',
        'Private Jaccuzi', 'Mini Cinema Theatre', 'Golf Course',
        'Infinity Swimming Pool', 'Pool with temperature control ',
        'Sea facing', 'Skydeck', 'Earth quake resistant'],
       dtype='object'),
 Index(['Theme based Architectures', 'Health club with Steam / Jaccuzi',
        'Large Clubhouse ', 'Large Open space', 'Fingerprint Access',
        'Grand Entrance lobby', 'Private Garage', 'Fireplace', 'Wine Cellar',
        'Sky Villa', 'Water Front', 'Hilltop', 'Smart Home', 'Barbeque space',
        'Kids play area', 'Library', 'Puja Room', 'Study', 'Servant Room',
        'Store', 'Aerobics Room', 'Canopy Walk', 'Coffee Lounge & Restaurants',
        'Dance Studio', 'Event Space & Amphitheatre', 'Flower Gardens',
        'Guest Accommodation', 'Indoor Squash & Badminton Courts',
        'Kids Play Area', 'Kids Play Pool With Water Slides',
        'Library And Business Centre', 'Meditation Area', 'Multipurpose Courts',
        'Recreational Pool', 'Rentable CommuniPfty Space',
        'Retail Boulevard (Retail Shops)', 'Cycling & Jogging Track',
        'Fire Fighting Equipment', 'Aesthetically designed landscape garden'],
       dtype='object'))

In [8]:
df.nunique()

ID                                         12685
Possession Status                             21
Floor No                                      70
Commercial                                     2
Units Available                               82
                                           ...
Rentable CommuniPfty Space                     2
Retail Boulevard (Retail Shops)                2
Cycling & Jogging Track                        2
Fire Fighting Equipment                        2
Aesthetically designed landscape garden        2
Length: 119, dtype: int64

In [9]:
df = df[df['Possession Status'].isin(['Ready to Move', 'Under Construction'])]
df.reset_index(drop=True, inplace=True)

In [10]:
df.shape

(12365, 119)

In [11]:
df['Area Name'].value_counts()[:20]

Area Name
Dombivli East     654
Andheri West      484
Malad East        466
Thane West        429
Andheri East      426
Kandivali West    357
Kolshet Road      320
Majiwada          310
Goregaon East     278
Mira Road East    278
Kandivali East    276
Virar West        242
Manpada           230
Prabhadevi        212
Kalyan West       207
Balkum village    188
Santacruz West    185
Dahisar East      185
Naigaon East      176
Dadar West        160
Name: count, dtype: int64

In [12]:
df_location_property_count = df.groupby(['Area Name'])['Units Available'].sum().to_frame().reset_index()
df_location_property_count = df_location_property_count[:10]